body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #222;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

.container {
    width: 500px;
    margin: 80px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    transition: 0.3s;
}

h1 {
    text-align: center;
}

.task-input {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

li {
    list-style: none;
    padding: 10px;
    margin-top: 8px;
    background: #f0f0f0;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}

/* Dark Mode */

body.dark-mode {
    background: #222;
    color: white;
}

body.dark-mode .container {
    background: #333;
}

body.dark-mode input {
    background: #444;
    color: white;
    border: 1px solid #666;
}

body.dark-mode input::placeholder {
    color: #bbb;
}

body.dark-mode button {
    background: #555;
    color: white;
    border: 1px solid #777;
}

body.dark-mode li {
    background: #444;
    color: white;
}